.AboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin: 3rem 0;
  }
  
  p {
    width: 80%;
    font-size: 1.8em;
    line-height: 1.8;
    margin-bottom: 2rem;
    text-align: justify;
    color: white;
    margin: 2px auto;
    margin-left: 10%;
    margin-right: 10%;   

  }
  
  .soundcloud {
      margin-top: 50px;
      width: 60%;
  
  }

  @media screen and (max-width: 768px) {
    p {
      width: 100%;
    }
  }
  