:root {
  --angle: 45deg;
  --opacity: 0.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.ContactPage {
    margin: 0 auto;
    padding: 0;
    color: #ded0a2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  h1 {
    font-size: 2.5rem;
    text-align: center;
    color: wheat;
    margin-top: 120px;
  }
  
    
  p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: px;
  }
  
  li {
    margin-bottom: 0.6rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0em;
    justify-content: center;
    margin: 0 auto;
  
  }
  
  input,
  textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 30%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type='submit'] {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #555;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 110px;
    border: 2px dotted rgb(27, 27, 83);
    width: 320px !important;
    height: 310px !important;
    padding-top: 2%;
    padding-left: 0%;
    font-size: 1.2em;
    color: rgb(244, 223, 202);
    
  }

  .footer:hover,
  .footer:focus { 
     border: 2px dotted rgb(219, 213, 255);
     
    background-color: transparent;
    color: rgb(255, 255, 255);
    transition: 0.5s;  
    transition-timing-function: ease-in-out;
    font-size: 1.3em;
    width: 340px !important;
    height: 330px !important;
    margin-top: 105px;
    opacity: 95%;
  
  }

  .footer a:visited {
    color: white;
  }

  @media screen and (max-width: 768px) {
    p, .footer {
      width: 80%;
    }
}

    


